/* General styling */
body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-400);

    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    box-shadow: 0 0 30px rgba(0,0,0,0.35);
    padding: 3em 3.5em 3.5em 2.25em;
    border-radius: 1em;
}

h1 {
    text-align: center;
}

img {
    height: 40px;
    object-fit: contain;
    margin-bottom: .5em;
}

input {
    padding: .5em;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--clr-neutral-300);
    outline: none;
}

select {
    padding: .5em .5em .5em .25em;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--clr-neutral-300);
    outline: none;
}

input:focus::placeholder {
    color: var(--clr-accent-400);
    opacity: 0.75;
}

input:focus {
    border-bottom: 2px solid var(--clr-accent-400);
}

.password-instructions {
    font-size: var(--fs-150);
    line-height: 0.9;
    margin-top: .5em;
    max-width: 260px;
    opacity: 75%;
    text-align: center;
}

button {
    cursor: pointer;
    text-decoration: none;
    border: 20px;
    border-radius: 100vmax;
    padding: 0.5em 1em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-button);
    box-shadow: 0 1.125em 1em -1em var(--clr-accent-400);
    margin-top: .75em;
}

button:hover,
button:focus-within {
    background-color: var(--clr-accent-300);
    color: var(--clr-neutral-100);
    border: 2px solid var(--clr-accent-300);
}

.filled-button {
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    border: 2px solid var(--clr-accent-400);
}

.alr-have-acc {
    font-size: var(--fs-200);
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
    color: var(--clr-accent-400)
}

.alr-have-acc:hover {
    color: var(--clr-accent-300);
}